# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.cache
eclipse
/run*

# botania textures for data run
libs/resources

# Files from Forge MDK
forge*changelog.txt
